[submodule "vim/pack/git-plugins/start/vim-cpp-modern"]
	path = vim/pack/git-plugins/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule ".vim/pack/git-plugins/start/rust.vim"]
	path = .vim/pack/git-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
